---
import Layout from "../layouts/Layout.astro"
import Title from "../components/Title.astro";


let title = "W52s | Homepage";
let description = "A curated List of my weekly created websites";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;

// Data fetching here:
let allPosts = Astro.fetchContent('../data/post/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf()).slice(0,3);

---
<Layout title={title} description={description} permalink={permalink} current="about" {canonicalURL}>
      
      <style>  
  p{
    padding-block: 0 1rem;
  }
  .image_wrapper{
display: flex;
     justify-content: center;
     padding-top: 1rem;
  }
  h2{
    padding-block: 6rem 3rem;
  }
  section{
    padding-bottom: 2rem;
  }
  a{
    
    color:inherit;
  }
 
  
}
  </style>


       
        <Title>W52s</Title>
        
      <p>
       Like all years 2022 has also 52 Weeks. In this 52 Weeks I want to design and develope 52 Websites. One Website per week. At first I will design them in Figma and then I will code them. I use this challenge to hone my HTML/CSS and JS skills. Also I want to make quick wireframes in Figma and develope a good eye for UI Design. 
       
      </p>
      <p>
       Everyone is invited to join this challenge. It doesn't matte if its in the middle of the year. Just start and create 💪.
      </p>
      <p>To make it harder I made some rules:</p>
      <ul>
        <li>No fancy SSG like Gatsby or Next</li>
        <li>Static HTML or Astro🧑🏻‍🚀</li>
        <li>Ship less Javascript as possible</li>
        <li>NO CSS Framework</li>
        <li>Keep an eye on accessibility</li>
        <li>Keep going and have fun</li>
      </ul>

        

        

         
      <div class="image_wrapper">
      <img width="300" height="300" src="/assets/design-software.svg" alt="A creative Website sticker">
      </div>
      <article>
      <h2>The Latest Posts</h2>
           {allPosts.map((post)=>{
             const href = `/post/${post.file.pathname.split('/').pop().split('.').shift()}`;
            return(
              <section aria-label="Post Review">
                    <a href={href}>
                        <h3>{post.title}</h3>
                    </a>
                    <p class="date">{post.publishDate}</p>
                    <p class="secondary">{post.description}</p>
                    <hr/>
                </section>
            )
        })}
              </article>
         <a href="/posts">
   View All Posts
    </a>
 
</Layout>
