---
import Layout from "../layouts/Layout.astro"
import Title from "../components/Title.astro";


let title = "LiftLog | Homepage";
let description = "A Lifting Log for my all Liftings. A short text about me and than a curated list of the latest 3 Posts";
const permalink = Astro.site.href;
let canonicalURL = Astro.request.canonicalURL;

// Data fetching here:
let allPosts = Astro.fetchContent('../data/post/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf()).slice(0,3);

---
<Layout title={title} description={description} permalink={permalink} current="about" {canonicalURL}>
      
      <style>  
  p{
    padding-block: 0 1rem;
  }
  .image_wrapper{
display: flex;
     justify-content: center;
     padding-top: 1rem;
  }
  h2{
    padding-block: 6rem 3rem;
  }
  section{
    padding-bottom: 2rem;
  }
  a{
    
    color:inherit;
  }
  .secondary{
   
  }
  
}
  </style>


       
        <Title>LiftLog</Title>
        
      <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purusLorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purusLorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purusLorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus
      </p>

         <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purusLorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purusLorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purusLorem ipsum dolor sit amet, consectetur adipiscing elit ut aliquam, purus sit amet luctus venenatis, lectus magna fringilla urna, porttitor rhoncus dolor purus
      </p>

        

         
      <div class="image_wrapper">
      <img width="300" height="300" src="/assets/a-gorilla-that-is-working-out-and-sweating.svg" alt="A Gorilla that is working out and sweating">
      </div>
      <article>
      <h2>The Latest Posts</h2>
           {allPosts.map((post)=>{
             const href = `/post/${post.file.pathname.split('/').pop().split('.').shift()}`;
            return(
              <section aria-label="Post Review">
                    <a href={href}>
                        <h3>{post.title}</h3>
                    </a>
                    <p class="date">{post.publishDate}</p>
                    <p class="secondary">{post.description}</p>
                    <hr/>
                </section>
            )
        })}
              </article>
         <a href="/posts">
   View All Posts
    </a>
 
</Layout>
